@import '../../../../common/colours.scss';

.listOfStorageChoices{
    display: inline-grid;
}
.optionSelector{
    border: 2px solid transparent;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
}
.optionSelected{
    border: 2px solid $color-black-tetiary;
}
.storageOption{
    display: grid;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: 46px;
    border-radius: 46px;
    margin: 2px;
    background-color: $color-black-tetiary;
    color: $color-white-main;
    text-align: center;
}
