.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    padding-top: 40px;
}

.galleryContainer {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.phoneContentArea{
    display: grid;
    grid-template-columns: 180px 1fr;
}
.sortingContainer{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
.phoneNameTxt{
    font-size: 20px;
}
.priceTxt{
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}
.boldTxt{
    font-weight: bold;
}
.noCriteriaMatch{
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

/* media queries */
@media only screen and (max-width: 650px) {
    .grid{
        padding-top: 20px;
    }
    .phoneContentArea{
        display: grid;
        grid-template-columns: 1fr;
    }
    .sortingContainer{
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .phoneContentArea{
        margin-top: 20px;
    }
}