@import '../../../../common/colours.scss';

.availablePlans {
    background-color: $color-grey-tertiary;
    padding: 25px;

    .planContent {
        margin: 0 auto;
        max-width: 1200px;
    }

    .headerTxt {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .content {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
    .plan {
        width: 100%;
        box-shadow: 0 1px 3px $color-grey-main;
        background-color: $color-white-main;
        border-radius: 6px;
        overflow: hidden;

        .header{
            width: 100%;
            background-color: $color-black-main;
            color: $color-white-main;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 22px;
        }
        .price{
            padding-top: 25px;
        }
        .details{
            width: 100%;
            background-color: $color-white-main;
            padding-top: 25px;
            padding-bottom: 25px;
            text-align: center;
            font-size: 22px;
        }
        .extraDetails{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            border-top: 1px solid $color-red-main;
            border-bottom: 1px solid $color-red-main;
        }
        .extraDetailsSection{
            display: grid;
            padding: 15px;
            background-color: $color-white-main;
            color: $color-red-main;
            align-items: center;
        }
        .dataAllowance {
            background-color: $color-red-main;
            color: $color-white-main;
        }
        .buttonContainer{
            padding: 20px;
        }
    }
}