$color-red-main: #e60000;

$color-grey-main: #ccc;
$color-grey-secondary: #f4f4f4;
$color-grey-tertiary: #ebebebcc;

$color-black-main: #333;
$color-black-secondary: #1e2122;
$color-black-tetiary: #000;

$color-white-main: #fff;
